<div>
<%=fields_for :addresses, Address.new do |address| %>
  <%=address.text_field :title, placeholder: "title of the address" %>
  <%=address.text_field :name, placeholder: "name"%>
  <%=address.text_field :street, placeholder: "street and n°"%>
  <%=address.text_field :zip, placeholder: "zip code"%>
  <%=address.text_field :country, placeholder: "country"%>
<%end%>
</div>
