<div class="bggrey">
  <div class="flex-column padding" data-controller="preferences">
    <div class="addresses flex-column gap2 border-bottom margin-bottom2">
      <div class="list flex-column gap1 ">
        <% if @user.addresses.length > 0%>
        <p>registered addresses :</p>
          <%@user.addresses.each do |address|%>
            <div class="address flex space-between" id="<%= dom_id(address)%>">
              <div class="border address-title flex">
                <p class = "margin0"><%=address.title%></p>
              </div>
              <div class="buttons flex space-between">
                <%= link_to "Edit", edit_user_address_path(@user, address), data: { turbo_stream: true }, class: 'button'%>
                <%= button_to "Delete", user_address_path(@user, address), method: :delete, data: { turbo_confirm: "Are you sure?", turbo_stream: true }, class: 'button' %>
              </div>
            </div>
          <%end%>
        <% else%>
          <p>No address registered yet</p>
        <%end%>
      </div>
      <div class="margin-bottom1">
        <%= form_with model: Address.new, url:user_addresses_path(@user) do |f| %>

          <div id="create_address" class="flex-column gap1">
            <div>
            <%=button_tag "Add Address", formaction:new_user_address_path(@user), formmethod: :get, data:{ turbo_stream: true } %>
            </div>
          </div>

        <%end%>

      </div>
    </div>
    <div class="delivery ">
      <%= form_with model: @delivery, url:user_delivery_path(@user, @delivery) do |f| %>
        <div class= "flex-column gap2 ">
          <div class>
            <div class="flex gap1">
              <p>preferred delivery method :</p>
            <%=f.select :delivery_method, ["pickup", "shipment"], {}, data: {action: "change->preferences#ToggleAddress", target: "preferences.deliveryMethod"} %>
            </div>
          </div>
          <div id="address-select" data-preferences-target="address" class= "flex gap1">
          <p>Choose default address :</p>
            <%= f.select :address_id, @user.addresses.map {|address| [address.title, address.id]}, {prompt: "select default address"}  %>
          </div>
          <div>

          <%= f.submit "save"%>
          <p class="italic margin-top1 margin-bottom1"> you can customize you delivery preferences for each of your boxes</p>
          </div>
        </div>
      <%end%>
    </div>
    <div class="border-top">
      <p class="margin-top1">My shares :</p>
      <%@user.stock_owners.each do |s|%>
        <%= "#{s.vinyard.name} (#{s.quantity})"%>
        <%end%>

    </div>
  </div>

</div>
