<div data-controller="preferences">
  <%= form_with model: @box, url: user_box_path(@user, @box), method: :patch do |f| %>
    <p><%="#{@box.dividende.vinyard.name} #{@box.dividende.year}"%></p>
    <%= f.label "Make this box available for exchange ?"%>
    <%=f.check_box :exchangeable %>
    <%= f.select :delivery_method,
    options_for_select(["pickup", "shipment"], @box.delivery_method), {}, data: { action: "change->preferences#ToggleAddress", target: "preferences.deliveryMethod"}%>
    <div id="address-select" data-preferences-target="address">
      <%=f.select :address_id, options_for_select(@user.addresses.map {|address| [address.title, address.id]}, @box.address_id) %>
    </div>
    <%= f.submit "Save"%>
  <%end%>
</div>
