<div data-controller="preferences" class="disable-outside-clik">
  <div class="modale justify-center" >
    <%= form_with model: @box, url: user_box_path(@user, @box), method: :patch do |f| %>
      <div class="flex-column height100 space-between">
        <div>
          <h3 class="margin-bottom1"><%="#{@box.dividende.vinyard.name} #{@box.dividende.year}"%></h3>
          <div data-preferences-target="shippingDate">
            <p>delivery date from: <%="#{@box.dividende.shipping_date.strftime("%d %B %Y")}"%></p>
          </div>
          <div id=vinyard-address data-preferences-target="vinyardAddress" class="hidden">
            <p>pickup address: <%=@box.vinyard.address%></p>
          </div>
        </div>
        <div class="flex-column gap2">
          <div class="flex gap1">
            <%= f.label "Make this box available for exchange ?"%>
            <%=f.check_box :exchangeable %>
          </div>
          <div class="flex gap1">
            <div class="flex gap1">
              <%=f.label "delivery method:"%>
              <div>
                <%= f.select :delivery_method,
                options_for_select(["pickup", "shipment"], @box.delivery_method), {}, data: { action: "change->preferences#ToggleAddress", target: "preferences.deliveryMethod"}%>
              </div>
            </div>
            <div class="">
              <div id="address-select" data-preferences-target="address" class="flex gap1">
                <%=f.label "delivery address:"%>
                <div>
                  <%=f.select :address_id, options_for_select(@user.addresses.map {|address| [address.title, address.id]}, @box.address_id) %>
                </div>
              </div>
              <div id="pick-up-date-select" data-preferences-target ="date" class="flex gap1">
                <%= f.label "pick-up date:"%>
                <div id="pick-up-date" data-preferences-target ="pickupdate" class="flex gap1">
                  <%= fields_for :pick_up_date, @box.pick_up_date do |f| %>
                  <span>
                    <%= f.select :date, options_for_select(@slots.map {|slot| [slot.strftime("%d %B %Y")]}, @box.pick_up_date&.date&.strftime("%d %B %Y")), {prompt: "select pick-up date"} %>
                  </span>
                  <%end%>
                </div>

              </div>
            </div>
          </div>
          <div class="flex gap1">
            <%= f.submit "Save"%>
            <button class="closemodal" type="button" data-action="click->preferences#close">close</button>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
