 <div class="width40 bggrey">
          <h4>exchange</h4>
          <%= form_with model: @exchange, url:user_exchanges_path(@user) do |form|%>
            <%= form.hidden_field :recipient_id, value: @user.id %>
            <%= form.hidden_field :initiator_id, value: current_user.id%>
            <div class="">
              <%current_year = Time.current.year%>
              <h2> Choose from <%=@user.pseudo%>'s cellar</h2>
              <%= form.fields_for :box_exchanges do |box_exchange|%>
                <div id="select-hidden-recipient">
                  <%= box_exchange.hidden_field :role, value: "recipient"%>
                  <%=box_exchange.select :box_id,
                    @user.boxes.where(exchangeable: true).joins(:dividende)
                 .where(dividende: { year: current_year }).map { |box| ["#{box.dividende.vinyard.name} - #{box.dividende.year}", box.id]},{prompt: "Choose a box"}, {class:"select-recipient"}%>
                </div>
              <%end%>
              <%= button_tag "Add boxes", formaction:new_user_box_exchange_path(@user), formmethod: :get, data: { turbo_stream: true }, name: "role", value: "recipient" %>
            </div>
            <div class="">
              <h2> Choose from your cellar</h2>
              <%= form.fields_for :box_exchanges do |box_exchange| %>
                <div id="select-hidden-initiator">
                  <%= box_exchange.hidden_field :role, value: "initiator"%>
                  <%=box_exchange.select :box_id,
                      current_user.boxes.where(exchangeable: true).joins(:dividende)
                 .where(dividende: { year: current_year }).map { |box| ["#{box.dividende.vinyard.name} - #{box.dividende.year}", box.id]},{prompt: "Choose a box"}, {class:"select-initiator"} %>
                </div>

              <%end%>
<%= button_tag "Add boxes", formaction:new_user_box_exchange_path(@user), formmethod: :get, data: { turbo_stream: true }, name: "role", value: "initiator" %>
            </div>
            <div class="">
              <%= form.submit "exchange"%>
            </div>
          <%end%>


      </div>
