<%= render "shared/header"%>
<div class="container">
  <div class="flex-column">
    <div class="margin-bottom-none padding-bottom1">
      <%if current_user%>
        <% if current_user.id != @user.id%>
        <div class="flex space-between">
          <h3 class="margin0"><%=@user.pseudo%>'s cellar</h3>
          <%= link_to user_path(current_user), class:"fit-content align-flex-end" do%>
            <h2 class="hover">my cellar</h2>
          <%end%>
          </div>
        <%else%>
          <div class="flex space-between">
            <%= link_to user_path(@user), class:"height-fit-content" do  %>
            <h3 class="margin0 hover">My cellar</h3>
            <%end%>
          <%= link_to user_exchanges_path(@user), class:"fit-content align-flex-end" do%>
            <h3 class="hover">My exchanges</h2>
          <%end%>
          </div>
        <%end%>
      <%else%>
        <h2><%=@user.pseudo%>'s cellar</h2>
      <%end%>
    </div>

    <div class="border-top display flex">
        <div class="width60 relative">
            <div class="margin-bottom2 margin-top2">Available for exchange</div>
              <div class="grid-box border-bottom margin-bottom2 margin-top2 padding-bottom1">
                <%@exchangeable_boxes.each do |vinyard, boxes|%>
                    <%boxes.each do |box|%>
                      <div class="">

                          <div class="box">
                            <div class="height100 flex-column gap05">

                              <div class=" align-center flex-column">
                                <%=link_to vinyard_path(vinyard) do%>
                                  <h4 class="margin-top-bottom05"><%= vinyard.name %> <%=box.dividende.year%></h3>
                                <%end%>
                                <div class="flex width100 gap05">
                                  <div class="border-bottom width100 height50"></div>
                                  <div class="flex">
                                    <%box.dividende.value.times do%>
                                      <div class="star"></div>
                                    <%end%>
                                  </div>
                                  <div class="border-bottom width100 height50"></div>
                              </div>
                              </div>
                              <div class=" flex ">
                                <% cuvee_colors = box.dividende.dividende_cuvee_colors %>
                                <div class="flex-column gap1">
                                    <% cuvee_colors.each do |cc| %>
                                      <h5 class="">
                                        <%=cc.bottle_quantity%> x <%=cc.cuvee_color.cuvee.name%> <%= "&nbsp;&middot; #{cc.cuvee_color.cuvee.vinyard_appellation.appellation.name}".html_safe %>
                                      </h5>
                                    <%end%>
                                </div>
                              </div>
                            </div>
                          </div>
                          <%if @user == current_user%>
                            <%= link_to "edit preferences", edit_user_box_path(@user, box), data: {turbo_stream: true}, id:"preferences" %>
                          <%end%>

                      </div>
                    <%end%>
                <% end %>
              </div>

            <div class="margin-top2">other boxes</div>
              <div class="grid-box margin-bottom2 margin-top2 padding-bottom1">
                <%@non_exchangeable_boxes.each do |vinyard, boxes|%>
                  <%boxes.each do |box|%>
                    <div class="">
                        <div class="box">
                          <div class="height100 flex-column gap05">
                           <div class="align-center flex-column">
                              <%=link_to vinyard_path(vinyard) do%>
                                <h4 class="margin-top-bottom05"><%= vinyard.name %> <%=box.dividende.year%></h4>
                              <%end%>
                              <div class="flex width100 gap05">
                                <div class="border-bottom width100 height50"></div>
                                <div class="flex">
                                  <%box.dividende.value.times do%>
                                    <div class="star"></div>
                                  <%end%>
                                </div>
                                <div class="border-bottom width100 height50"></div>
                              </div>
                            </div>
                            <div class=" flex ">
                              <% cuvee_colors = box.dividende.dividende_cuvee_colors %>
                              <div class="flex-column gap1">
                                  <% cuvee_colors.each do |cc| %>
                                    <h5 class="margin1">
                                      <%=cc.bottle_quantity%> x <%=cc.cuvee_color.cuvee.name%> <%= "&nbsp;&middot; #{cc.cuvee_color.cuvee.vinyard_appellation.appellation.name}".html_safe %>
                                    </h5>
                                  <%end%>
                              </div>
                            </div>
                          </div>
                        </div>

                      <%if @user == current_user%>
                        <%= link_to "edit preferences", edit_user_box_path(@user, box), data: {turbo_stream: true}, id:"preferences" %>
                      <%end%>
                    </div>
                  <%end%>
                <%end %>
              </div>
              <div id="modal" class="flex-column">
              </div>
            </div>
            <% if current_user && @user.id != current_user.id%>
              <%= render "users/form"%>
              <%elsif current_user && @user.id = current_user.id%>
                <%= render "users/delivery_form"%>
              <%else%>
              <%= render "users/invite"%>
            <%end%>
    </div>
  </div>
</div>
