
  <div class="container-banner flex space-between margin-top2 ">
    <div class="id flex-column center ">
      <h1 id=logo><%= link_to "Divino", root_path %></h1>
      <p class="tagline align-flex-end">wine swap</p>
    </div>

      <%if user_signed_in? %>
        <div class="login flex-end">
          <% currentuserpseudo = current_user.pseudo %>
          <%=link_to "hi #{currentuserpseudo}", user_path(current_user), class:"text-decoration log"%>
          <%= link_to "Disconnect", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class:"text-decoration log" %>
        </div>
      <%else%>
        <div class="login">
          <%=link_to "login", new_user_session_path, class:"text-decoration log" %>
          <%=link_to "sign up", new_user_registration_path, class:"text-decoration log" %>
        </div>
      <%end%>

  </div>
