
  <%=turbo_stream.update "new-vinyard-appellation" do%>
  <div class="modale flex-column gap1" data-controller="appellation">
      <%=form_with model: VinyardAppellation.new, url: vinyard_vinyard_appellations_path(@vinyard), method: :post do |f|%>
        <div class="fields">
          <div class="field flex-column gap1" >
            <%=f.label :appellation_id, "Choose Appellation:"%>
            <%=f.select :appellation_id,
              options_for_select(Appellation.all.pluck(:name, :id) + [["➕ Ajouter une appellation", "new"]]),
              {},
              { data: { action: "change->appellation#check" } } %>
              <div class="hidden" data-appellation-target="create">
                <%= render 'appellations/form', appellation: Appellation.new, vinyard: @vinyard %>
              </div>
          </div>
          <div class="" data-appellation-target="button">
          <%=f.submit "Create"%>
          </div>
        </div>
      <%end%>
      <div class="flex flex-end">
        <button class="closemodale" type="button" data-action="click->appellation#close">Close</button>
      </div>
  </div>
  <%end%>
