<%= render "shared/header"%>
<div class="container">
  <div class="flex space-between margin-top2 padding-bottom1">
    <div class="flex-column space-between">
      <h3 class="center"><%=@vinyard.name%></h2>
      <%appellations = @vinyard.appellations%>
      <h4 class=""><%appellations.each_with_index do |appellation,index|%>
        <%= appellation.name %><%= "&nbsp;&middot;".html_safe unless index == appellations.size - 1%>
      <%end%>
      </h4>
    </div>
      <%if current_user%>
          <%=link_to user_path(current_user), class:"height-fit-content align-flex-end" do %>
            <h2 class="hover">my cellar</h2>
          <%end%>
        <%end%>
  </div>
  <div class="border-top display">
    <div class="flex margin-top2 gap1">
      <div class="photo width40">
        <%= image_tag( "vignoble.jpg") %>
      </div>
      <div class="description flex-column space-between width60">
        <p class="margin-top-none margin-bottom-none" id="vinyard-description-container"><%=simple_format(@vinyard.description)%></p>
        <%if current_user = @vinyard.admin %>
          <div class="align-flex-end">
            <%= link_to "edit", edit_vinyard_path(@vinyard), data: { turbo_stream: true }, class:"button"%>
          </div>
        <%end%>

      </div>
    </div>
    <%= render "dividendes/show_dividende"%>

  </div>
</div>
