<%= render "shared/header"%>
<div class="container">
  <div class="flex space-between margin-top2 padding-bottom1">
    <div class="flex-column space-between">
      <h3 class="center"><%=@vinyard.name%></h2>
      <%appellations = @vinyard.appellations%>
      <h4 class=""><%appellations.each_with_index do |appellation,index|%>
        <%= appellation.name %><%= "&nbsp;&middot;".html_safe unless index == appellations.size - 1%>
      <%end%>
      </h4>
    </div>
      <%if current_user%>
          <%=link_to user_path(current_user), class:"height-fit-content align-flex-end" do %>
            <h2 class="hover">my cellar</h2>
          <%end%>
        <%end%>
  </div>
  <div class="border-top display">
    <div class="flex margin-top2 gap1">
      <div class="photo">
        <%= image_tag( "vignoble.jpg") %>
      </div>
      <div class="description">
        <p class="margin-top-none margin-bottom-none"><%=@vinyard.description%></p>
      </div>
    </div>
    <%= render "dividendes/show_dividende"%>

  </div>
</div>
