<%= render "shared/header"%>
<div class="container">
  <div class="flex space-between margin-top2 padding-bottom1">
    <div class="flex space-between gap1">
      <h3 class="align-flex-end"><%=@vinyard.name%></h2>
      <%appellations = @vinyard.vinyard_appellations%>
      <h4 class="flex align-flex-end">
        <%appellations.each_with_index do |appellation,index|%>
          <%= appellation.appellation.name %><%= "&nbsp;&middot;".html_safe unless index == appellations.size - 1%>
          <%if current_user && current_user == @vinyard.admin%>
            <%=button_to "x", vinyard_vinyard_appellation_path(@vinyard, appellation), method: :delete, class:"delete"%>
          <%end%>
        <%end%>
      </h4>
      <%if current_user == @vinyard.admin%>
        <div class="align-flex-end" id="new-vinyard-appellation">
        </div>

          <%if current_user && current_user == @vinyard.admin%>
            <%= link_to "add appellation", new_vinyard_vinyard_appellation_path(@vinyard), data: { turbo_stream: true }, class:"button"%>
          <%end%>
      <%end%>
    </div>
      <%if current_user%>
          <%=link_to user_path(current_user), class:"height-fit-content align-flex-end" do %>
            <h2 class="hover">my cellar</h2>
          <%end%>
        <%end%>
  </div>
  <div class="border-top">
    <div class="flex margin-top2 gap1">
      <div class="photo width40">
        <%= image_tag( "vignoble.jpg") %>
      </div>
      <div class="description flex-column space-between width60">
        <div class="margin-top-none margin-bottom-none flex-column" id="vinyard-description-container">
          <%=simple_format(@vinyard.description)%>
          <%if current_user && current_user == @vinyard.admin %>
            <div class="align-flex-end">
              <%= link_to "edit", edit_vinyard_path(@vinyard), data: { turbo_stream: true }, class:"button"%>
            </div>
          <%end%>
        </div>

      </div>
    </div>
    <div class="border-top margin-top1">
      <h3 class="margin-top1 margin-bottom1">Production</h3>
      <div class="flex space-between">
        <div class="flex-column gap1">
          <% @vinyard_appellations.each do |va|%>
            <div class="flex gap1">
              <%if current_user && current_user == @vinyard.admin%>
                <div class="flex-column gap1" id="new-cuvee-color">
                  <%=link_to "add bottle", new_vinyard_vinyard_appellation_cuvee_color_path(@vinyard, va), data:{turbo_stream: true}, class:"button"%>
                </div>
                <span id="new-cuvee"></span>

              <%end%>
              <h4><%=va.appellation.name%> :</h4>
                <div class="flex gap1">

                    <%va.cuvees.each do |cuvee|%>
                      <div class="flex gap1">
                        <p>
                          <%=cuvee.name%>
                          (
                          <%cuvee.cuvee_colors.each_with_index do |cc, index|%>
                            <%=link_to vinyard_vinyard_appellation_cuvee_color_path(@vinyard, va, cc), data:{turbo_stream: true} do%>
                              <%unless index == (cuvee.cuvee_colors.size) -1 %>
                                <%="#{cc.color.color},"%>
                              <%else%>
                                <%="#{cc.color.color}"%>
                              <%end%>
                            <%end%>
                            <%if current_user && current_user == @vinyard.admin%>
                              <%= button_to "x", vinyard_vinyard_appellation_cuvee_color_path(@vinyard, va, cc ), method: :delete, class:"delete"%>
                            <%end%>
                          <%end%>
                            )
                        </p>
                      </div>
                    <%end%>

                  <span id="show-cuvee-color"></span>
                </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <div class="flex border-top margin-top2 padding-top2 space-around">
    <%= render "dividendes/show_dividende"%>

    <div class="users flex-column gap3">
        <div class="flex-column gap2">
          <%if current_user && current_user == @vinyard.admin%>
            <div class="flex-column gap1">
              <h3>Who ownes the stock ?</h3>
              <div class="flex gap05 flex-wrap">
                <%if @vinyard.stock_owners.present?%>
                  <%@stock_owners.each_with_index do |stock_owner, index|%>
                    <%=link_to user_path(stock_owner), class:"black" do %>
                      <div class="user">
                        <p><%=stock_owner.pseudo%><%="," unless index == @stock_owners.size-1%></p>
                      </div>
                    <%end%>
                  <%end %>
                <%else%>
                  <p class="italic">Nobody owns this stock yet.</p>
                <%end%>
              </div>
            </div>
          <%end%>
          <div class="flex-column gap1">
            <h3 class="margin-top-none">Who has this box ?</h3>
            <div class="flex gap05 flex-wrap">
              <%if @users.length > 0%>
                <%@users.each_with_index do |user, index|%>
                  <%=link_to user_path(user), class:"black" do %>
                    <div class="user">
                      <p><%=user.pseudo%><%="," unless index == @users.size-1%></p>
                    </div>
                  <%end%>
                <%end %>
              <%else%>
                <p class="italic">Nobody wants to echange this box yet.</p>
              <%end%>
            </div>
          </div>
        </div>
        <% if current_user && current_user == @vinyard.admin%>
          <div class="flex-column gap1">
            <%=link_to "download shipments infos for #{Time.current.year}", shipments_csv_vinyard_path(@vinyard), class:"button"%>
            <%=link_to "download pick up infos for #{Time.current.year}", pick_ups_csv_vinyard_path(@vinyard), class:"button"%>
          </div>
          </div>
        <%end%>
      </div>
  </div>

  </div>
</div>
