<%= render "shared/header"%>
<div class="container">
  <div class="flex space-between">
    <div class="flex-column">
      <h2 class="margin-bottom-none"><%=@vinyard.name%></h2>
      <%appellations = @vinyard.appellations%>
      <h4 class="margin-top-none"><%appellations.each_with_index do |appellation,index|%>
        <%= appellation.name %><%= "&nbsp;&middot;".html_safe unless index == appellations.size - 1%>
      <%end%>
      </h4>
    </div>
      <%if current_user%>
          <%=link_to user_path(current_user) do %>
            <h2>my cellar</h2>
          <%end%>
        <%end%>
  </div>
  <div class="border-top display">
    <div class="flex gap1 flex-wrap">
      <div class="photo">
        <%= image_tag( "vignoble.jpg") %>
      </div>
      <div class="description">
        <p class="margin-top-none margin-bottom-none"><%=@vinyard.description%></p>
      </div>
    </div>
    <%= render "dividendes/show_dividende"%>
    <div class="flex-column">
  </div>
  </div>
</div>
