  <div class="flex-column">
    <div class="border-top margin-top2  flex gap4">
      <div class="width50 margin-top2">
        <div class="flex space-between">
          <div class="flex gap1 margin-bottom2">
            <h3 class="margin0">Box <%=@dividende.year%></h3>
            <div class="flex">
              <%@dividende.value.times do%>
                <div class="star"></div>
              <%end%>
            </div>
          </div>
          <p class="italic margin0"> shipping or pickup date : <%=@dividende.shipping_date.strftime("%d %B %Y")%></p>
        </div>
        <div class="flex-column gap1">
          <div class="border">
            <%@bottles.each_with_index do |bottle,index|%>
              <div class="bottle padding">
                <div class="flex gap1">
                  <p><%=bottle.bottle_quantity%>x <%=bottle.cuvee_color.cuvee.name%> <%=bottle.cuvee_color.cuvee.vinyard_appellation.appellation.name%></p>
                  <p>- <%=bottle.cuvee_color.color.color%></p>
                </div>
                <p><%=simple_format(bottle.cuvee_color.description)%></p>
              </div>
              <%if index != @bottles.size-1%>
                <div class="border-top"></div>
              <% end %>
            <%end%>
          </div>
          <% if current_user && current_user == @vinyard.admin%>
            <span class="flex space-between">
              <%= link_to "edit dividende", edit_vinyard_dividende_path(@vinyard, @dividende), data: {turbo_stream: true}, class:"button"%>
              <%=link_to "create new dividende", new_vinyard_dividende_path(@vinyard), data: {turbo_stream: true}, class:"button"%>
            </span>
            <div class="" id="dividende">
            </div>

          <%end%>
          <%if current_user && current_user == @vinyard.admin%>
            <h3>Dividendes</h3>
            <div class="grid">
              <%@vinyard_dividendes.each do |d|%>
                  <div class="flex-column gap1">
                    <div class="box flex-column gap1">
                      <div class="flex-column">
                        <h4 class="margin-top-bottom05 align-center"><%=d.year%></h4>
                        <div class="flex width100 gap05">
                          <div class="border-bottom width100 height50"></div>
                          <div class="flex">
                            <%d.value.times do%>
                              <div class="star"></div>
                            <%end%>
                          </div>
                          <div class="border-bottom width100 height50"></div>
                        </div>
                      </div>
                      <div class="flex-column gap1">
                        <%d.dividende_cuvee_colors.each do |dcc|%>
                          <div class="flex gap1">
                            <h5><%="#{dcc.bottle_quantity}x #{dcc.cuvee_color.cuvee.name}(#{dcc.cuvee_color.color.color})"%></h5>
                          </div>
                        <%end%>
                      </div>
                    </div>
                    <%=button_to "delete", vinyard_dividende_path(@vinyard, d), method: :delete%>
                  </div>
              <%end%>
            </div>
          <%end%>
        </div>
      </div>
      <div class="users margin-top2 flex-column gap3">
        <div class="flex-column gap2">
          <%if current_user && current_user == @vinyard.admin%>
            <div class="flex-column gap1">
              <h3>Who ownes the stock ?</h3>
              <div class="flex gap05 flex-wrap">
                <%if @vinyard.stock_owners.present?%>
                  <%@stock_owners.each_with_index do |stock_owner, index|%>
                    <%=link_to user_path(stock_owner), class:"black" do %>
                      <div class="user">
                        <p><%=stock_owner.pseudo%><%="," unless index == @stock_owners.size-1%></p>
                      </div>
                    <%end%>
                  <%end %>
                <%else%>
                  <p class="italic">Nobody owns this stock yet.</p>
                <%end%>
              </div>
            </div>
          <%end%>
          <div class="flex-column gap1">
            <h3 class="margin-top-none">Who has this box ?</h3>
            <div class="flex gap05 flex-wrap">
              <%if @users.length > 0%>
                <%@users.each_with_index do |user, index|%>
                  <%=link_to user_path(user), class:"black" do %>
                    <div class="user">
                      <p><%=user.pseudo%><%="," unless index == @users.size-1%></p>
                    </div>
                  <%end%>
                <%end %>
              <%else%>
                <p class="italic">Nobody wants to echange this box yet.</p>
              <%end%>
            </div>
          </div>
        </div>
        <% if current_user && current_user == @vinyard.admin%>
          <div class="flex-column gap1">
            <h3>Deliveries statuses</h3>
            <div class="flex-column gap1">
              <h4>boxes to send</h4>
              <%if @boxes_to_send.present?%>
                <div class="border-bottom">
                  <%@boxes_to_send.each do |b|%>
                    <div class="grid-address">
                      <div class="padding ">
                        <p><%=b.dividende.vinyard.name%>(<%=b.dividende.year%>)</p>
                      </div>
                      <div class="padding">
                        <p><%=b.user.email%></p>
                      </div>
                      <div class="padding ">
                        <p><%="#{b.address.name}, #{b.address.street}, #{b.address.zip} #{b.address.city}, #{b.address.country}"%></p>
                      </div>
                    </div>
                  <%end%>
                </div>
              <%else%>
                <p>no boxes to send</p>
              <%end%>
              <h4>boxes to be picked-up</h4>
              <%if @boxes_to_pickup.present?%>
                <div class="border-bottom">
                  <%@boxes_to_pickup.each do |b|%>
                    <div class="grid-address">
                      <div class="padding ">
                        <p><%=b.dividende.vinyard.name%>(<%=b.dividende.year%>)</p>
                      </div>
                      <div class="padding">
                        <p><%=b.user.email%></p>
                      </div>
                      <div class="padding ">
                        <p><%=b.delivery_method%></p>
                      </div>
                    </div>
                  <%end%>
                </div>
              <%else%>
                <p>no boxes to be picked-up</p>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
      </div>
    </div>
