<!DOCTYPE html>
<html>
  <head>
    <title>Divino2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- application.html.erb -->
  <% if flash[:success] %>
    <div id="flash-success" class="flash-success elementToFadeInAndOut ">
      <%= flash[:success] %>
    </div>
    <script>
      // Affiche une alerte de succès via JavaScript
      setTimeout(function() {
        var successMessage = document.getElementById('flash-success');
        if (successMessage) {
          successMessage.style.display = 'none';  // Masque le message après un délai
        }
      }, 1000);  // 5 secondes avant de cacher le message
    </script>
  <% end %>

    <%= yield %>
  </body>
</html>
